<?xml version="1.0" encoding="UTF-8"?>
<web-app xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xmlns="http://xmlns.jcp.org/xml/ns/javaee" xsi:schemaLocation="http://xmlns.jcp.org/xml/ns/javaee http://xmlns.jcp.org/xml/ns/javaee/web-app_3_1.xsd" id="WebApp_ID" version="3.1">
  <display-name>tyyyTest</display-name>
  <welcome-file-list>
      <welcome-file>/WEB-INF/jsp/memIndex.jsp</welcome-file>
  </welcome-file-list>
  <filter>
  	<filter-name>memberIntergral</filter-name>
  	<filter-class>com.tyyy.filter.MemberIntergralFilter</filter-class>
  </filter>
  <filter-mapping>
  	<filter-name>memberIntergral</filter-name>
  	<url-pattern>/*</url-pattern>
  </filter-mapping>
   <filter>
        <filter-name>encodingfilter</filter-name>
        <filter-class>
            org.springframework.web.filter.CharacterEncodingFilter
        </filter-class>
        <init-param>
            <param-name>encoding</param-name>
            <param-value>utf-8</param-value>
        </init-param>
    </filter>
    <filter-mapping>
        <filter-name>encodingfilter</filter-name>
        <url-pattern>/*</url-pattern>
    </filter-mapping>
    
    <context-param>
        <param-name>contextConfigLocation</param-name>
        <param-value>/WEB-INF/app.xml</param-value>
    </context-param>
    <!-- Spring 容器启动监听器 -->
    <listener>
        <listener-class>org.springframework.web.context.ContextLoaderListener</listener-class>
    </listener>
	<listener>
        <listener-class>
          com.tyyy.listener.ContextLoaderListener
        </listener-class>
    </listener>
	
    <jsp-config>
        <taglib>
            <taglib-uri>/tyyyTag/powerTag</taglib-uri>
            <taglib-location>/WEB-INF/power.tld</taglib-location>
        </taglib>
    </jsp-config>    
    <servlet>
        <servlet-name>springMVC</servlet-name>
        <servlet-class>org.springframework.web.servlet.DispatcherServlet</servlet-class>
        <init-param>
            <param-name>contextConfigLocation</param-name>
            <param-value>/WEB-INF/mvcConf.xml</param-value>
        </init-param>
        <load-on-startup>1</load-on-startup>
    </servlet>
    <servlet-mapping>
        <servlet-name>springMVC</servlet-name>
        <url-pattern>/</url-pattern>
    </servlet-mapping>
    
    <error-page>  
	    <error-code>404</error-code>  
	    <location>/WEB-INF/jsp/404error.jsp</location>  
	</error-page>  
	  
	<error-page>  
	    <error-code>500</error-code>  
	    <location>/WEB-INF/jsp/500error.jsp</location>  
	</error-page>  
</web-app>